div{
  margin: 0;
  padding: 0;
}

hr{
  margin: 0;
  padding: 0;
}

.nav{
  color: seashell;
  background: linear-gradient(45deg, #32cbe7 15%, #15CF9E 90%);
}

.menuLi a{
  text-decoration: none;
  color: seashell;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.menuLi a:hover{
  background: linear-gradient(45deg, #ED58CA 15%, #E90520 90%);
  color: #F8F37C;
}

.menuUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menuLi{
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 1em;
  border-right: solid 0.1em #0F367F;
}
.menuLi:first-child{

  border-left: solid 0.1em #0F367F;
  margin-left: 0;
}

.main-route-place{
  background-color: white;
  color: black;
}