h1{
    text-align: center;
    color: darkcyan;
}

.presentation{
    margin-top: 3em;
    padding: 1em;
    text-align: center;
    background-color: rgb(34, 185, 145);
    color: bisque;
}

.presentation a{
    text-decoration: none;
    color: brown;
}

.imgContent{
    text-align: right;
}

.textContent{
    padding: 1em;
}
